<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Protocol</string>
	<key>Description</key>
	<string>An Objective-C protocol which includes the &lt;UIKit/UIKit.h&gt; header.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.h</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>An Objective-C protocol</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>NSObject</string>
			<key>Description</key>
			<string>What protocol should this be based on?</string>
			<key>Identifier</key>
			<string>cocoaTouchBaseProtocol</string>
			<key>Name</key>
			<string>Protocol is based on</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>combo</string>
			<key>Values</key>
			<array>
				<string>NSObject</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
